@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details</h2>
<hr />

<h3>The stylist is not here! </h3>

<p>@Html.ActionLink("Back to list", "Index")</p>