@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Welcome to Eau Claire's Salon!</h1>
<h4>Please type a stylist name below.<h4>

@using (Html.BeginForm("Result", "Stylists", FormMethod.Post))
{
  @Html.LabelFor(model => model.EmployeeName)
  @Html.TextBoxFor(model => model.EmployeeName)

  <input type="submit" value="Search a stylist" class="btn btn-primary"/>
}

