@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<h4>Please choose below to get started.<h4>

<p>@Html.ActionLink("Search a stylist by name", "Search", "Stylists")</p>

<p>@Html.ActionLink("Search a client by name", "Search", "Clients")</p>

<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>